*{box-sizing:border-box}canvas{width:100%;height:100%;position:fixed;inset:0}div.copyright{color:#fff;z-index:999;text-align:center;width:90%;font-size:12px;position:fixed;bottom:0;left:50%;transform:translate(-50%)}div.copyright a{color:#fff}#settings{z-index:999;visibility:visible;opacity:1;background:#666;border-radius:10px;min-width:50%;padding:10px;transition:visibility,opacity 1s linear;display:flex;position:fixed;bottom:1rem;left:1rem;&.hide{opacity:0;visibility:hidden}& h3{color:#fefefe;margin:0;padding:0;font-size:12pt}& textarea{background:#999;border:none;width:100%;min-height:5rem;font-size:14pt}& button{color:#fefefe;background:#222;border:none;border-radius:5px;padding:5px 10px;position:relative;overflow:hidden;&:active:after{content:"";background:#00000080;position:absolute;inset:0}}& .icon{vertical-align:middle;background:currentColor;width:25px;height:25px;display:inline-block;mask-position:50%;mask-size:contain;mask-repeat:no-repeat;&.play{mask-image:url(play.d2b98249.svg)}&.shuffle{mask-image:url(shuffle.e9e498cf.svg)}&.megaphone{mask-image:url(megaphone.da49dfc8.svg)}&.record{mask-image:url(record.c71c4728.svg)}&.map{mask-image:url(map.eb357c03.svg)}&.trophy{mask-image:url(trophy.50d1ba0a.svg)}&.bomb{mask-image:url(bomb.455f9b17.svg)}}& div.left{flex-grow:1;flex-shrink:1;order:1;& .actions{justify-content:stretch;align-items:center;gap:2px;display:flex;& div.sep{flex-grow:1}}}& div.right{flex-grow:0;flex-shrink:0;order:2;& div.row{align-items:center;height:35px;display:flex;& label{color:#fff;flex-grow:0;flex-shrink:0;width:150px;padding-left:1rem}}}& select{background:#999;border-radius:5px;width:100%;height:25px}& input[type=checkbox]{vertical-align:middle;width:0;height:25px;position:relative;&:before{content:"";background:#999;border-radius:25px;width:50px;height:25px;display:inline-block;position:absolute;top:0;left:0}&:after{content:"";background:#ccc;border-radius:25px;width:25px;height:25px;transition:transform .2s;position:absolute;top:0;left:0}&:checked:after{background:#fff;transform:translate(100%)}&:checked:before{content:"";background:#00baff}}& .btn-group{justify-content:stretch;display:flex;&>*{box-sizing:border-box;color:#fefefe;background:#999;border:none;border-radius:0;flex-grow:0;flex-shrink:0;justify-content:center;align-items:center;width:33%;height:25px;padding:0;display:flex;overflow:hidden;&:first-child{border-radius:10px 0 0 10px}&:last-child{border-radius:0 10px 10px 0}&.active:before{content:"";vertical-align:middle;background:#fff;width:15px;height:15px;display:inline-block;mask-image:url(check.7e390469.svg);mask-repeat:no-repeat}&.active{background:#333}}& input[type=number]{box-sizing:border-box;text-align:center}}}#notice{z-index:1001;color:#333;background:#ffffffe6;border-radius:30px;flex-direction:column;width:500px;max-width:90%;padding:10px;display:none;position:fixed;top:50%;left:50%;overflow:hidden;transform:translate(-50%,-50%);& h1{background-color:#fd0;border-bottom:1px solid #333;align-items:center;margin:-10px -10px 0;padding:10px 5px 10px .5em;display:flex;&:before{content:"";background-image:url(megaphone.da49dfc8.svg);background-size:contain;width:1em;height:1em;margin-right:.2em;display:inline-block}}& div.notice-body{padding:0 .5em}& div.notice-action{justify-content:end;display:flex;& button{color:#fefefe;background:#222;border:none;border-radius:20px;width:50%;height:50px;padding:5px 10px;position:relative;overflow:hidden;&:active:after{content:"";background:#00000080;position:absolute;inset:0}}}}#donate{z-index:999;visibility:visible;opacity:1;transition:visibility,opacity 1s linear;position:fixed;bottom:calc(160px + 1.5rem);left:1rem;&.hide{opacity:0;visibility:hidden}}@media screen and (width<=750px){#donate{bottom:2rem}#settings{opacity:1;visibility:visible;width:calc(100% - 2rem);min-width:0;max-width:100%;transition:visibility,opacity 1s linear;display:block;bottom:calc(2.5rem + 60px);overflow:hidden;&.hide{opacity:0;visibility:hidden}& div.right div.row{border-bottom:1px solid #555;height:auto;padding:.5rem 0;display:block;& label{width:100%;margin-bottom:.5rem;padding-left:0;display:block}& .icon{width:15px;height:15px}}}#notice{box-sizing:border-box;z-index:1001;color:#333;background:#ffffffe6;border-radius:4px;flex-direction:column;width:100%;max-width:100%;height:100%;padding:5px 10px;display:none;position:fixed;top:0;left:0;transform:none;& div.notice-body{flex-grow:1}}}div.toast{z-index:1000;background:#ccc;border-radius:4px;padding:8px;animation:.2s linear fade-in,.2s linear 1s reverse fade-in;position:fixed;bottom:10px;left:50%;overflow:hidden;transform:translate(-50%)}@keyframes fade-in{0%{opacity:0;transform:translate(-50%,100%)}to{opacity:1;transform:translate(-50%)}}

.bmc-btn svg {
    height: 32px !important;
    margin-bottom: 0px !important;
    box-shadow: none !important;
    border: none !important;
    vertical-align: middle !important;
    transform: scale(0.9);
    flex-shrink: 0;
}

.bmc-btn {
    min-width: 210px;
    color: #000000;
    background-color: #FFDD00 !important;
    height: 60px;
    border-radius: 12px;
    font-size: 28px;
    font-weight: Normal;
    border: none;
    padding: 0px 24px;
    line-height: 27px;
    text-decoration: none !important;
    display: inline-flex !important;
    align-items: center;
    font-family: 'Comic Neue', cursive !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.bmc-btn:hover, .bmc-btn:active, .bmc-btn:focus {
    text-decoration: none !important;
    cursor: pointer;
}

.bmc-btn-text {
   text-align: left;
   margin-left: 8px;
   display: inline-block;
   line-height: 0;
   width: 100%;
   flex-shrink: 0;
   font-family: [FONT] !important;
   white-space: nowrap;
}

.logo-outline {
    fill: #000000;
}

.logo-coffee {
    fill: #ffffff;
}